<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ping-Pong</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Orbitron:700|Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    </head>

<body>
    <h1> PING - PONG </h1>
    <main>
        <!-- <div id="loader">
            <div id="circle"></div>
            <h2>Finding a match</h2>
        </div>
        
        <div id="match">
            <div class="p">
                <div id="p1">
                    <span id="p1-name">Hiteshasdasr45t4</span>
                </div>
                <div id="right-arr"></div>
            </div>
            <h2>VS</h2>
            <div class="p">
                <div id="left-arr"></div>
                <div id="p2">
                    <span id="p2-name">Himanshuersrt34</span>
                </div>
            </div>
        </div> -->

    </main>
    <script src="color.js"></script>
    <script src="websocket.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.1/pixi.min.js"></script>
    <script src="player.js"></script>
    <script src="ball.js"></script>
    <script src="elements.js"></script>
    <script src="arena.js"></script>
    <script src="main.js"></script>
</body>

</html>

<!-- MessageEvent {isTrusted: true, data: ""tbdfYzZLFHBFJculSJ8QnJQJOEA="", origin: "ws://localhost:8000", lastEventId: "", source: null, …}
    bubbles: false
    cancelBubble: false
    cancelable: false
    composed: false
    currentTarget: WebSocket {url: "ws://localhost:8000/", readyState: 3, bufferedAmount: 28, onopen: ƒ, onerror: null, …}
>>>>    data: ""tbdfYzZLFHBFJculSJ8QnJQJOEA=""
    defaultPrevented: false
    eventPhase: 0
    isTrusted: true
    lastEventId: ""
    origin: "ws://localhost:8000"
    path: []
    ports: []
    returnValue: true
    source: null
    srcElement: WebSocket {url: "ws://localhost:8000/", readyState: 3, bufferedAmount: 28, onopen: ƒ, onerror: null, …}
    target: WebSocket {url: "ws://localhost:8000/", readyState: 3, bufferedAmount: 28, onopen: ƒ, onerror: null, …}
    timeStamp: 41.9899999997142
    type: "message"
    userActivation: null
    __proto__: MessageEvent
-->